<div class="container">
  <div class="row">
    <br><br><br>
    <h3>Scenic collection: </h3>
    <div class="row">
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 1"><img src="<%= asset_path('215280_220193027998034_120334_n.jpg') %>" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 2"><img src="<%= asset_path('215520_220193987997938_4087677_n.jpg') %>" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 3"><img src="<%= asset_path('215717_220194317997905_2058304_n.jpg') %>" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 4"><img src="<%= asset_path('216107_220192794664724_3212826_n.jpg') %>" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 5"><img src="<%= asset_path('217669_220191214664882_8028754_n.jpg') %>" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 6"><img src="<%= asset_path('223056_220198347997502_448282_n.jpg') %>" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 8"><img src="<%= asset_path('223235_220192197998117_3037720_n.jpg') %>" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 9"><img src="<%= asset_path('224073_220191957998141_7574737_n.jpg') %>" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 10"><img src="<%= asset_path('1779825_815961245087873_499663443_n.jpg') %>" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 11"><img src="<%= asset_path('224929_220193497997987_4629010_n.jpg') %>"  class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 12"><img src="<%= asset_path('225017_220192411331429_2895715_n.jpg') %>"  class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 13"><img src="<%= asset_path('379451_342321442451858_1249283026_n.jpg') %>"  class="thumbnail img-responsive"></a></div>
    </div>
    <hr>
  </div>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 class="modal-title">Heading</h3>
	</div>
	<div class="modal-body">

	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
   </div>
  </div>
</div>
